body{
 margin:0;
 font-family:Arial;
 background:#000;
 display:flex;
 justify-content:center;
 align-items:center;
 min-height:100vh;
 color:white;
}

.container{
 background:#111;
 padding:40px;
 border-radius:18px;
 width:100%;
 max-width:500px;
}

input,select,textarea{
 width:100%;
 padding:14px;
 margin-top:12px;
 border-radius:12px;
 border:1px solid #333;
 background:#1a1a1a;
 color:white;
 outline:none;
}

input::placeholder{
 color:#aaa;
}

button{
 width:100%;
 margin-top:20px;
 padding:14px;
 border:none;
 border-radius:12px;
 background:#dc2626;
 color:white;
 font-weight:bold;
 cursor:pointer;
}
