body {
    background: #111;
    color: white;
    font-family: Segoe UI;
    padding: 20px;
}

form {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #000;
    border: 1px solid #333;
    color: white;
    border-radius: 8px;
}

input:focus {
    border-color: #ff3b3b;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff3b3b;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
