body{
 font-family:Arial;
 background:#000;
 padding:40px;
 color:white;
}

.container{
 max-width:700px;
 margin:auto;
}

.card{
 background:#111;
 padding:40px;
 border-radius:18px;
 text-align:center;
}

button{
 padding:14px 20px;
 border:none;
 border-radius:12px;
 font-weight:bold;
 margin:10px;
 cursor:pointer;
}

.btn-danger{
 background:#dc2626;
 color:white;
}

.btn-secondary{
 background:#333;
 color:white;
}

