body {
    background: #0d0d0d;
    color: white;
    font-family: Segoe UI;
    padding: 20px;
    text-align: center;
}

.box {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 12px;
    max-width: 400px;
    margin: auto;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.delete {
    background: #ff3b3b;
    color: white;
}

.cancel {
    background: #333;
    color: white;
}
