body {
    background: #111;
    color: white;
    font-family: Segoe UI;
    padding: 20px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
}

p {
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

a {
    display: inline-block;
    margin-top: 15px;
    background: #ff3b3b;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
}
