body{
 font-family:Arial;
 background:#000;
 color:white;
}

.app{
 max-width:800px;
 margin:40px auto;
 background:#111;
 padding:30px;
 border-radius:18px;
}

.info{
 background:#1a1a1a;
 padding:14px;
 margin-bottom:10px;
 border-radius:10px;
}

a{
 color:#ff4d4d;
}
,

