body{
 font-family:Arial;
 background:#000;
 padding:40px;
 color:white;
}

.container{
 max-width:600px;
 margin:auto;
 background:#111;
 padding:35px;
 border-radius:18px;
}

input,textarea{
 width:100%;
 padding:14px;
 margin-top:12px;
 border-radius:12px;
 border:1px solid #333;
 background:#1a1a1a;
 color:white;
}

button{
 margin-top:20px;
 padding:14px;
 border:none;
 border-radius:12px;
 background:#dc2626;
 color:white;
 cursor:pointer;
}
