body {
    background: #101010;
    color: white;
    font-family: Segoe UI;
    padding: 20px;
}

form {
    background: #1c1c1c;
    padding: 25px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: #000;
    border: 1px solid #444;
    border-radius: 8px;
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff3b3b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
