:root{
 --primary:#dc2626;
 --bg:#0a0a0a;
 --card:#111111;
 --text:#ffffff;
}

body{
 margin:0;
 font-family:Arial, sans-serif;
 background:var(--bg);
 color:var(--text);
}

.app{
 max-width:1100px;
 margin:40px auto;
 padding:20px;
}

header{
 background:var(--card);
 padding:20px;
 border-radius:15px;
 margin-bottom:20px;
}

table{
 width:100%;
 border-collapse:collapse;
 background:var(--card);
 border-radius:15px;
 overflow:hidden;
}

th,td{
 padding:14px;
}

th{
 backgrou

